PORT=5000
BASE_URL=http://localhost:5173
DB_URL=mongodb+srv://moodlocationfinder:Mongodb-moodlocationfinder@moodfinder.dghahom.mongodb.net/
SECRET=wanchai_se_secret
APIKEY="AIzaSyA4X7QmCWZe2l35-sSeGBDh-q7RCvjL9Gc"
AUTHDOMAIN="component-aa6ff.firebaseapp.com"
PROJECTID="component-aa6ff"
STORAGEBUCKET="component-aa6ff.firebasestorage.app"
MESSAGINGSENDERID="63295865840"
APPID="1:63295865840:web:49bbe1d54890f4645a1335"
SUPABASE_URL=
SUPABASE_KEY=