# Application Configuration
NODE_ENV=production
PORT=5000

# PostgreSQL Database (Docker network) 
DB_HOST=localhost
DB_PORT=5433
DB_NAME=moodlocationfinder
DB_USER=postgres
DB_PASSWORD=postgresql_wanchai

# JWT Secret (generate a strong one!)
JWT_SECRET=secret_key_wanchai

# CORS Configuration (Frontend URL ที่อนุญาตให้เข้าถึง API, คั่นด้วย comma ถ้ามีหลาย URL)
CORS_ORIGIN=http://localhost:5173, https://moodlocationproject.vercel.app/


# เชื่อมต่อกับ Supabase
SUPABASE_URL=https://xsotrskahbctpwfvskwc.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhzb3Ryc2thaGJjdHB3ZnZza3djIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzNjY3MzAsImV4cCI6MjA4ODk0MjczMH0.ex3vfzFhI39Zspox72YiOCpCzSwq83fWVfEO8v7sVwk
SUPABASE_BUCKET=uploads

# เชื่อมต่อกับ cloudinary 
# CLOUDINARY_CLOUD_NAME=dfwe2sbbv
# CLOUDINARY_API_KEY=652815397364895
# CLOUDINARY_API_SECRET=JmV_mSUVT-y4x7ZFG3AYPdnryLM

# Gemini AI Configuration
GEMINI_API_KEY=AIzaSyCPrxryul4SQJ04hrkVtj5bpeClBk7pP28
GOOGLE_MAPS_API_KEY=AIzaSyBHkr6Ui_h-6nZbAnAX282fWLQvxdpCIoQ

# API key Email resend
# เอา API Key ที่สร้างจากหน้า API Keys ในเว็บ Resend มาใส่ตรงนี้ (มักจะขึ้นต้นด้วย re_)
RESEND_API_KEY=re_HW3Qnhu8_9r4Y3NArTGuab9oBGrLg2hHQ
# (ตัวเลือกเสริม) ถ้าคุณทำการ Verify Domain ใน Resend แล้ว ให้เพิ่มบรรทัดนี้ด้วย
RESEND_FROM_EMAIL=no-reply@yourdomain.com

# NodeMailer Configuration (สำหรับการส่งอีเมลยืนยัน)
EMAIL_VERIFY_USER=moodlocationfinder@gmail.com
EMAIL_VERIFY=xwqnxceujoltclcl
